[submodule "libraries/imgui"]
	path = libraries/imgui
	url = https://github.com/ocornut/imgui
[submodule "libraries/implot"]
	path = libraries/implot
	url = https://github.com/epezent/implot
[submodule "libraries/MikkTSpace"]
	path = libraries/MikkTSpace
	url = https://github.com/mmikk/MikkTSpace
